/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.tippy-popper{
    display: none;
}
.main-menu .navbar-header .navbar-brand .brand-logo{
    background: unset;
    width: 11rem;
}
.main-menu .navbar-header{
    height: 10rem;
}
.btn-primary{
    border-color: #46BFAE !important;
    background-color: #46BFAE !important;
}
body.dark-layout .pagination:not([class*="pagination-"]) .page-item.active .page-link {
    background-color: #46BFAE;
}
.badge.badge-primary {
    background-color: #46BFAE;
}
.main-menu.menu-light .navigation > li.active > a {
    background: linear-gradient(
        118deg
        , #46BFAE, rgba(70, 191, 174, 0.7));
    box-shadow: 0 0 10px 1px rgb(70, 191, 174 / 70%);

}
a {
    color: #46BFAE;
}
.form-control:focus {
    border-color: #46BFAE;
}
.form-label-group > input:focus:not(:placeholder-shown) ~ label, .form-label-group > input:not(:active):not(:placeholder-shown) ~ label, .form-label-group textarea:focus:not(:placeholder-shown) ~ label, .form-label-group textarea:not(:active):not(:placeholder-shown) ~ label {
    color: #46BFAE !important;
}
body.dark-layout input.form-control:focus ~ .form-control-position i, body.dark-layout .custom-file-label:focus ~ .form-control-position i, body.dark-layout textarea.form-control:focus ~ .form-control-position i {
    color: #46BFAE;
}
.dropdown-notification .dropdown-menu-header {
    background: #46BFAE;
}
.dropdown-notification .dropdown-menu.dropdown-menu-right::before {
    background: #46BFAE;
    border-color: #46BFAE;
}
.primary {
    color: #46BFAE !important;
}
#ecommerce-pagination ul{
    justify-content: center;
}
table.dataTable tbody tr.selected,table.dataTable tbody tr.selected td {
    background-color: rgb(70, 191, 174) !important;
    box-shadow: 0 0 1px 0 #46BFAE !important;
    color: #FFFFFF;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 0.2rem .5rem;
}
.vs-checkbox-primary input:checked ~ .vs-checkbox .vs-checkbox--check {
    background-color: #46BFAE !important;
}
.vs-checkbox-primary input:checked ~ .vs-checkbox {
    border-color: #46BFAE !important;
}
.main-menu .main-menu-content {
    height: calc(100% - 13rem) !important;
}
